@import 'styles';

$cell-width: 10rem;

.app-container {
    .board {
        overflow: auto;
        font-size: 0.75rem;
        border-spacing: 0.5rem;

        .header-cell {
            text-align: center;
            min-width: $cell-width;
            color: $mischka;
        }

        .draft-pick-cell {
            background-color: $mischka;
            border-radius: .4rem;
            color: $bright-gray;
            min-width: $cell-width;
            padding: 0.5rem;

            &.qb {
                background-color: white;
                color: $shark;
            }

            &.rb {
                background-color: silver;
                color: $shark;
            }

            &.wr {
                background-color: darkgray;
                color: white;
            }

            &.te {
                background-color: gray;
                color: white;
            }

            &.k {
                background-color: black;
                color: white;
            }

            .draft-pick-cell-wrapper {
                display: flex;

                .name-wrapper {
                    flex: 1;
                }

                .rank-difference {
                    margin: auto;
                    margin-right: .5rem;

                    &.pos {
                        color: green;
                    }

                    &.neg {
                        color: red;
                    }
                }
            }

        }
    }
}
