<div class='app-container' *ngIf='viewModel'>
	<table class='board'>
		<tr class='header-row'>
			<td *ngFor='let user of viewModel.sortedUsers' class='header-cell'>
				{{ user.display_name }}
			</td>
		</tr>
		<tr *ngFor='let round of rounds' class='draft-round-row'>
			<td *ngFor='let draftPick of getDraftPicks(round)' class='draft-pick-cell'
				[ngClass]='draftPick.metadata.position.toLowerCase()'>
				<div class='draft-pick-cell-wrapper'>
					<div class='name-wrapper'>
						<div class='first-name'>
							{{ draftPick.metadata.first_name }}
						</div>
						<div class='last-name'>
							{{draftPick.metadata.last_name}}
						</div>
					</div>
					<div class='draft-pos-wrapper'>
						<div class='actual-pick-pos'>
							{{draftPick.metadata.position + draftPick.metadata.pos_pick_order}}
						</div>
					</div>
				</div>
			</td>
		</tr>
	</table>
</div>
