@import 'styles';
.app-container {
    .board {
        overflow: auto;
        font-size: 0.75rem;
        .header {
            text-align: center;
        }
        .draft-pick {
            background-color: $mischka;
            border-radius: .4rem;
            color: $bright-gray;
            margin: .25rem;
        }
    }
}